*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.header {
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}
h1.header {
    font-size: 200px;
    line-height: 1;
}
div.header h3 {
    font-size: 80px;
    line-height: 1;
}
div.btn{
    text-align: center;
    display: block;
    border: none;
    cursor: auto;
    margin-top: 55px;
}
button[type=button]{
    width: 135px;
    font-size: 20px;
}

div.btn button:nth-child(6){
    width: 230px;
}